
<div class="container mt-5">
<div class="row mb-4">
   <app-passenger-count [totalpassCount]="passenger.length" [checkInCount]="checkInCount"></app-passenger-count>
</div>

    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
           <ul  class="list-group">
              <li class="list-group-item" *ngFor="let pass of passenger">
                {{pass.fullName}}
              </li>
           </ul>
        </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2">
          <app-passengercard [pass]="pass" *ngFor="let pass of passenger" (emitremoveFlag)="getRemove($event)" ></app-passengercard>
      </div>
    </div>
</div>